body {
  background-image: linear-gradient(to right,rgb(220, 220, 220),rgb(169, 169, 169));
  background-size: cover;
  color:black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#links {
  text-align: center;
  border: solid 3px black;
  margin: auto;
  width: 500px;
}

#createform {
  text-align: center;
  border: solid 3px black;
  width: 500px;
  padding: 50px;
  margin: auto;
}