#links {
  text-align: center;
  border: solid 3px black;
  margin: auto;
  width: 500px;
}

#create-div {
  position: relative;
  display: table;
  text-align: center;
  border: solid 3px black;
  width: 500px;
  padding: 50px;
  margin: auto;
}

#submit-button {
  position: absolute;
  align-content: center;
  bottom: 20px;
  right: 210px;
}
