body {
  background-image: linear-gradient(to right,rgb(220, 220, 220),rgb(169, 169, 169));
  background-size: cover;
  color:black;
  text-align: center;
  margin: auto;
}

#links {
  text-align: center;
  margin: auto;
  border: solid 3px black;
  width: 500px;
}

#delete-search {
  text-align: center;
  margin: auto;
  border: solid 3px black;
  width: 500px;
  padding: 50px;
}

.modal-content {
  text-align: center;
}