body {
  background-image: linear-gradient(to right,rgb(220, 220, 220),rgb(169, 169, 169));
  background-size: cover;
  color:black;
  text-align: center;
  margin: auto;
}

h1 {
  text-decoration: underline;
  width: 500px;
}

h2 {
  text-decoration: underline;
  width: 500px;
}