#links {
  text-align: center;
  border: solid 3px black;
  margin: auto;
  width: 500px;
}

#textbox {
  border: solid 3px black;
  margin: auto;
  padding: 50px;
  width: 500px;
  background-color: rgb(239, 239, 239);
}

pre {
  text-align: left;
}
