body {
  text-align: center;
  margin: auto;
}

#links {
  text-align: center;
  border: solid 3px black;
  margin: auto;
  width: 500px;
}

#createform {
  text-align: center;
  border: solid 3px black;
  width: 500px;
  padding: 50px;
  margin: auto;
}